@model HospitalSystem.Models.databaseModels.roomModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>roomModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.statement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.statement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            patient Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patientModel.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
