@model HospitalSystem.Models.databaseModels.recipe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.drugs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.drugs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.doctorModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.doctorModel.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patientModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patientModel.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
